// Variables
$background: #333;
$text: #ffffff;
$border: #dfdfdf;
$primary: #d7d7d7;

// Import
@import 'https://fonts.googleapis.com/css?family=Roboto';

// Normalizer
html body
{
	margin: 0px;
	padding: 0px;
	background: $background;
}

.wrapper { 
  width: 100%;
  height: 100vh;
  opacity: 0.8;
  display: table;
  background-size: cover;
  background: url(img/background.jpg) no-repeat center center fixed; 
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/background.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/background.jpg', sizingMethod='scale')";
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.wrapper {
	.container {
		width: 100%;
		height: 100vh;
		text-align: center;
		vertical-align: middle;
		display: table-cell;
	}
}

.position
{
	text-align: center;
	vertical-align: middle;
}

.position
{
	img
	{
		padding: 30px;
		background: rgba($text, 0.8);
		border-radius: 8px;
		width: 250px;
	}
}

h3
{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	color: rgba($text, 0.9);
	font-weight: 100;
	padding: 0px;
    text-shadow: 1px 1px 8px rgba($background, 0.5);	
	margin: 0px;
	font-size: 28px;
	letter-spacing: 2px;
}

@media only screen and (max-width: 768px){
	.position
	{
		text-align: center !important;
		vertical-align: middle !important;
	}

	.position
	{
		img
		{
			width: 180px;
		}
	}	
}